.control-button {
    position: absolute;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.control-button:hover {
    transform: translateY(-2px);
}

.control-button:active {
    transform: translateY(1px);
}

.control-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button-example {
    top: 80px;
    right: 20px;
    background-color: #007bff;
}
.button-example:hover:not(:disabled) {
    background-color: #0056b3;
}

.button-clear {
    top: 20px;
    right: 20px;
    background-color: #ffa000;
}
.button-clear:hover:not(:disabled) {
    background-color: #ff8000;
}

.button-addNode {
    top: 20px;
    left: 20px;
    background-color: #02c874;
}
.button-addNode:hover:not(:disabled) {
    background-color: #02a05d;
}

.button-removeNode {
    top: 20px;
    left: 150px;
    background-color: #02c874;
}
.button-removeNode:hover:not(:disabled) {
    background-color: #02a05d;
}

.button-addEdge {
    top: 80px;
    left: 20px;
    background-color: #3b3b3b;
}
.button-addEdge:hover:not(:disabled) {
    background-color: #363636;
}

.button-removeEdge {
    top: 80px;
    left: 150px;
    background-color: #3b3b3b;
}
.button-removeEdge:hover:not(:disabled) {
    background-color: #363636;
}

.button-selectStart {
    top: 140px;
    left: 20px;
    background-color: #ff0000;
}
.button-selectStart:hover:not(:disabled) {
    background-color: #cc0000;
}
